<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - new_site</title>
    </head>
    <body>
    <style>
          body{
              background-color: lightgrey;
          }
          p{
              font-size: 30px;
              font-family: 'High Tower Text';
          }
    </style>
    <div style="background-color:burlywood; display: flex; align-items: center; height: 100px;">
        <img style="padding: 20px; width: 200px;" src="IMG\logo.png" alt="Dungeon and Dragons dice set" />

      
    </div>
        <main>
            @RenderBody()
        </main>
    




    </body>
  </html>