@page
@model new_site.Pages.Access_noModel
@{
    Layout = "_LayoutA";
}

<div style="width:70%; background-color: rgb(54, 60, 71); margin:auto; height:20vw; margin-top:3vw; padding-top: 0.6vw; ">
    <div class="title-container" style="border-color: red;">
    <p class="title" style="color: red;">Access Denied</p>
    </div>
    <p style="font-size: 1.1vw; text-align: center;">Your access to the following page has been resreicted, please nevigate back to the home page.</p>
</div>