@page

@model new_site.Pages.MainModel
@{
    Layout = "_new_layout";
    ViewData["Title"] = "Users";
}




<div style="box-sizing: border-box; align-items: center; display: flex; flex-direction: column; margin: auto; height: 1200px; width: 1400px; background-color: azure;">
    <h1 style="margin-bottom: 30px; padding-top: 20px; padding-bottom: 20px; border: solid 1px; text-align: center;  width: 100%;">D&D</h1>
    <div style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%; max-width: 1300px;">
        <p style="width: 60%; margin: 0; line-height: 1.6; padding: 20px; ">
            Dungeons & Dragons (commonly abbreviated as D&D or DnD) is a fantasy tabletop role-playing game (TTRPG)
            originally created and designed by Gary Gygax and Dave Arneson. The game was first published in 1974
       
            by Tactical Studies Rules. It has been published by Wizards of the Coast, later a subsidiary of Hasbro,
            since 1997.
        </p>
        <img style="width: auto; margin: 0; height: 500px;" src="IMG\dun1.jpg" />
    </div>
</div