@page
@model new_site.Pages.Quary_pageModel
@using System.Data;
@using new_site;
@using new_site.Model;
@using new_site.Pages;
@using new_site.DataModel;
@{
    Layout = "_LayoutA";
}
<style>
.user-list {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 12px;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    background-color: rgb(227, 227, 227);
}

.user-row {
    display: flex;
    padding: 0.6%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    flex-wrap: wrap;
}

.user-row.header {
    background-color: #d3e0ff;
    font-weight: bold;
}
.user-row.header > div{
    font-size: 20px;
}
.user-cell {
    flex: 1;
}
</style>




<form method="get" onreset="resetForm()" style="width:40%; display: flex; flex-direction:row; justify-content: space-around; margin:auto; border: 1px double grey; padding:0.5%; margin-top:4.5%; background-color:rgb(255, 255, 255); margin-bottom:2%;">
    <input asp-for="filter_value" name="filter_value" />
    <select name="filter_column">
        <option value="first_name">First Name</option>
        <option value="last_name">Last Name</option>
        <option value="city">Name Of City</option>
        <option value="prefix">Prefix</option>
        <option value="phone_number">Phone Number</option>
        <option value="email">Email</option>
        <option value="year_born">Year Born</option>
        <option value="gender">Gender</option>
        <option value="password">Password</option>
    </select>
    <button type="submit">Search</button>
</form>




<div class="user-list">
    <div class="user-row header">
        @foreach (string col in Model.DisplayColumns)
        {
            if (col.Equals("Prefix") || col.Equals("Password"))
            {
                continue;
            }
            <div class="user-cell">@col</div>
        }
    </div>

    @foreach (DataRow row in Model.DataTableUsers.Rows)
    {
        <div class="user-row">
            @foreach (DataColumn column in Model.DataTableUsers.Columns)
            {
                if (column.ColumnName.Equals("prefix") || column.ColumnName.Equals("password"))
                {
                    continue;
                }
                else if (column.ColumnName.Equals("Phone_number"))
                {
                    <div class="user-cell">@row["Prefix"]-@row[column.ColumnName]</div>
                }
                else
                {
                    <div class="user-cell">@row[column.ColumnName]</div>
                }
            }
        </div>
    }
</div>
