@page
@model WebApplication1.Pages.the_sugar_industryModel
@{
    Layout = "_LayoutA";
}



<h1 align="center" style="font-family:'Leelawadee UI'"><strong>The Sugar Industry</strong></h1>
    <p>The sugar industry subsumes the production, processing and marketing of sugars (mostly sucrose and fructose). Globally, about 80% of sugar is extracted from sugar cane, grown predominantly in the tropics, and 20% from sugar beet, grown mostly in temperate climate in North America or Europe.</p>
    <div style="text-align: center;">
        <img src="../IMG/sugar.jpg" alt="sugar in a spoon" />
    </div>
    <p >Several countries subsidize sugar. Globally in 2018, around 185 million tons of sugar was produced, led by India with 35.9 million tons, followed by Brazil and Thailand. There are more than 123 sugar-producing countries, but only 30% of the produce is traded on the international market.</p>
