@page
@model new_site.Pages.the_origin_of_sugarModel
@{
    Layout = "_LayoutA";
}

    <h1 style="font-size: 50px; font-family:'Leelawadee UI'" align="center">the origin of sugar</h1>

    <section>
        <h2 style="font-size: 35px; font-family:'Myanmar Text'">
            Sugar primarily comes from two plants:
        </h2>
        <ol style="font-size: 24px; font-family:'Myanmar Text'">
            <li><strong>sugarcane</strong></li>
            <li><strong>sugar beets</strong></li>
        </ol>
        <h2 style=" font-size: 35px; font-family:'Myanmar Text'">Here's a simplified process:</h2>
        <ul>
            <li style="font-size: 25px; font-family:'Myanmar Text'">Sugar beets: These are processed to extract a sugary juice, which is then purified to leave behind crystallized sugar.</li>
            <li style="font-size: 25px; font-family:'Myanmar Text'">Sugarcane: The cane is crushed to extract its juice, which is then boiled to form thick syrup. This syrup is then crystallized to produce raw sugar.</li>
        </ul>

        <p style="font-size: 25px;  font-family:'Myanmar Text'">High fructose corn syrup, often used in processed foods, is derived from cornstarch, which is mostly made up of glucose. Enzymes are added to convert some of this glucose into fructose, resulting in a sweet syrup.</p>
    </section>
   
