@page
@using System.Data;
@model new_site.Pages.UpdateModel
@using Microsoft.AspNetCore.Http
@{
    Layout = "_LayoutA";
}
<style>
</style>


<div class="main" style="background-color: rgb(227, 227, 227); margin: 0; width:100%;">
    @if (!string.IsNullOrEmpty(Model.errorMessage))
    {
        <div class="alert alert-danger">
            @Model.errorMessage
        </div>
    }

    <form name="regform" method="post" onreset="resetForm()" class="account_header">
        <div class="title-container" style="border-color: rgb(212, 182, 106)">
            <h1 class="title" style="color:black;">Update Your Account</h1>
        </div>

        <div class="column" style="margin-top:8%;">
            <input type="text" asp-for="user.Email" id="reg_Email" style="" maxlength="50" placeholder="Email" autocomplete="on" oninput="checkEmail()" />
            <span class="text-danger" id="reg_errorEmail"></span>
        </div>

        <div class="column">

            <br />
            <input type="password" asp-for="user.Password" id="reg_password" minlength="8" maxlength="20" placeholder="Password" oninput="checkPassword()" />
            <span class="text-danger" id="reg_errorPassword"></span>
            <br />
        </div>

        <div class="column">

            <input type="password" id="reg_verifyPassword" minlength="8" maxlength="20" placeholder="Verify Password" oninput="verifyPassword()" />
            <span class="text-danger" id="reg_errorVerifyPassword"></span>
            <br />
        </div>

        <div class="input_like" style="height: 100%">
            <select asp-for="user.PrefixID" class="input_field" style="width: 15%; ">
                @foreach (string i in Model.Prefix)
                {
                    <option value="@i">@i</option>
                }
            </select>

            <div style="width: 3%;"></div>

            <input type="text" asp-for="user.Phone" id="reg_phone" class="input_field" style="" placeholder="888-42-29" />
        </div>

        <span class="text-danger" id="reg_errorPrefix"></span>
        <span class="text-danger" id="reg_errorPhone"></span>

        <br />

        <br />
        <button style="font-size:30px; border-radius: 10px; margin: auto; display: flex; justify-content: center;" type="submit" value="Update">Update</button>
    </form>
</div>
<script src="js/site.js" asp-append-version="true"></script>
